@using NamesOutOfAHat2.Model

<div class="card mb-3" style="width: 18rem;display: inline-flex;margin: 10px;">
    <h5 class="card-header bg-info">@DisplayName</h5>
    <div class="card-body">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" @bind-value="Person.Name" />
            <label for="Name" >Name</label>
        </div>       
        <div class="form-floating mb-3">
            <input type="email" class="form-control" @bind-value="Person.Email" />
            <label for="Email">Email</label>
        </div> 
        <button @onclick="CommitParticipantAddAsync" type="submit" class="btn btn-sm btn-primary">Add</button>&nbsp;
        <a href="#" class="btn btn-sm btn-danger" >Cancel</a>
    </div>
</div>

@code {

    [Parameter]
    public Person Person { get; set; }

    [Parameter]
    public EventCallback<Person> PersonAddedCallBack { get; set; }

    public String DisplayName
    {
        get
        {
            return (Person?.Name?.Trim().Length ?? 0) > 1 ? Person!.Name : "New Participant";
        }
    }

    public async Task CommitParticipantAddAsync()
    {
        await PersonAddedCallBack.InvokeAsync(Person);
    }

}
