@if (Visible)
{
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        @ChildContent
    </div>
}

@code {

    [Parameter]
    public bool Visible { get; set; } = true;

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
