<SectionHeading Text="Oh, no. Something went wrong!" Lead="Sorry, but something went wrong. I don't have great error handling yet, but the details of the error are below." />

<div class="alert alert-danger" role="alert">
    @ErrorDetails
</div>

<ButtonArea>
    <PrimaryButton ClickedCallback="NextCallback" Text="Try Again" />
</ButtonArea>

@code {

    [Parameter, EditorRequired]
    public string ErrorDetails { get; set; }

    [Parameter, EditorRequired]
    public EventCallback NextCallback { get; set; }

}
