@if (Visible)
{
    <SectionHeading Visible="true" Text="This Website Uses Cookies" />

    <p class="lead">
        This website uses cookies to provide you with an optimized experience. Refer to our <a target="_blank" href="CookiePolicy">cookie policy</a> for more information regarding our use of data or click here to learn more about the cookies we use and how to disable them.
    </p>

    <ButtonArea>
        <PrimaryButton ClickedCallback="NextCallback" Text="Agree and Proceed" />
    </ButtonArea>
}

@code {

    [Parameter, EditorRequired]
    public bool Visible { get; set; }

    [Parameter, EditorRequired]
    public EventCallback NextCallback { get; set; }

}
