@inject NamesOutOfAHat2.Service.EligibilityValidationService EligibilityValidationService

@using NamesOutOfAHat2.Model.DomainModels
@using NamesOutOfAHat2.Utility

@if(Visible)
{
    <SectionHeading Visible="true" Text="There is a problem with the hat." />

    <div class="alert alert-danger" role="alert">
        <ul>
            @foreach (var error in EligibilityValidationService.Validate(Hat).GetErrors())
            {
                <li>@error</li>
            }
        </ul>
    </div>

    <BackButton ClickedCallback="NextCallback" Text="Go Back" />
}

@code {

    [Parameter, EditorRequired]
    public bool Visible { get; set; }

    [Parameter, EditorRequired]
    public Hat Hat { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback NextCallback { get; set; }
}
