<div aria-label="@Text" @onclick="Clicked" class="btn btn-primary btn-lg px-4">
    @if(_processing)
    {
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <span>
            &nbsp;
        </span>
    }
    @Text
</div>

@code {

    [Parameter, EditorRequired]
    public string Text { get; set; }

    private bool _processing;

    protected override Task OnInitializedAsync()
    {
        _processing = false;
        return Task.CompletedTask;
    }

    protected async Task Clicked()
    {
        if (_processing) return;
        _processing = true;
        await Task.Delay(1000);
        await ClickedCallback.InvokeAsync();
        _processing = false;
    }

    [Parameter, EditorRequired]
    public EventCallback ClickedCallback { get; set; }

}
