<button aria-label="@Text" type="button" @onclick="ClickedCallback" class="btn btn-primary btn-lg px-4 gap-3">@Text</button>

@code {

    [Parameter, EditorRequired]
    public string Text { get; set; }

    [Parameter, EditorRequired]
    public EventCallback ClickedCallback { get; set; }

}
