@using NamesOutOfAHat2.Model

@if(Visible)
{
    <SectionHeading Visible="true" Text="Done!" Lead="The emails have been sent!" />

    <hr>
    <p class="mb-0">
        If someone did not get an email, ask them to check their junk mail folder(s).
        <br /><br />
        For Gmail users especially, have them check the many folders that Gmail sometimes automatically files emails under (e.g. Social, Updates, Forums, Promotions).
        <br /><br />
        If some participants still didn't get an email, try a different email address for them. You'll have to go back to the first step and re-send all emails.
        <br /><br />
        If you don't want to do that, here's a trick -- click F12 on your keyboard, select Application, then Local Storage, then this website. You should see an item named "Hat". That item contains all of the information related to this gift exchange.
    </p>
    <hr>

    <ButtonArea>
        <PrimaryButton ClickedCallback="NextCallback" Text="Go Back To The Hat" />
    </ButtonArea>
}

@code {

    [Parameter, EditorRequired]
    public bool Visible { get; set; }

    [Parameter, EditorRequired]
    public Hat Hat { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback NextCallback { get; set; }

}
