@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>🎩 Names Out Of A Hat! 🎩</title>
</head>
<body style="text-align: center;">
    <div class="container-fluid align-content-center">
        <article class="content px-4">
            @Body
        </article>
    </div>
</body>
</html>

