openapi: "3.0.1"
info:
  title: "giftexchange-gateway"
  description: "API Gateway for the Gift Exchange App"
  version: "2026-02-15T18:39:20Z"
servers:
- url: "https://api.namesoutofahat.com"
paths:
  /hats:
    options:
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
  /recipients:
    post:
      operationId: "AssignRecipients"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignRecipientsRequest"
        required: true
      responses:
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
        "409":
          description: "409 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestOrConflictResponse"
      security:
      - cognito-authorizer: []
    options:
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
  /hat/close:
    post:
      operationId: "CloseHat"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloseHatRequest"
        required: true
      responses:
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
        "409":
          description: "409 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestOrConflictResponse"
      security:
      - cognito-authorizer: []
    options:
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
  /participant/{organizerEmail}/{hatId}/{participantEmail}:
    get:
      operationId: "GetParticipant"
      parameters:
      - name: "showpickedrecipients"
        in: "query"
        required: true
        schema:
          type: "string"
      - name: "hatId"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "participantEmail"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "organizerEmail"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
      security:
      - cognito-authorizer: []
    options:
      parameters:
      - name: "organizerEmail"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "hatId"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "participantEmail"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
  /hats/{email}:
    get:
      operationId: "GetHats"
      parameters:
      - name: "email"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetHatsResponse"
      security:
      - cognito-authorizer: []
    options:
      parameters:
      - name: "email"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
  /hat/sendinvitations:
    post:
      operationId: "SendInvitations"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendInvitationsRequest"
        required: true
      responses:
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
        "409":
          description: "409 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestOrConflictResponse"
      security:
      - cognito-authorizer: []
    options:
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
  /hat/validate:
    post:
      operationId: "ValidateHat"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateHatRequest"
        required: true
      responses:
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateHatResponse"
      security:
      - cognito-authorizer: []
    options:
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
  /hat/{email}/{id}:
    get:
      operationId: "GetHat"
      parameters:
      - name: "showpickedrecipients"
        in: "query"
        required: true
        schema:
          type: "string"
      - name: "email"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Hat"
      security:
      - cognito-authorizer: []
    options:
      parameters:
      - name: "email"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "id"
        in: "path"
        required: true
        schema:
          type: "string"
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
  /hat:
    put:
      operationId: "Edit"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditHatRequest"
        required: true
      responses:
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
        "409":
          description: "409 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestOrConflictResponse"
      security:
      - cognito-authorizer: []
    post:
      operationId: "CreateHat"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateHatRequest"
        required: true
      responses:
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateHatResponse"
      security:
      - cognito-authorizer: []
    delete:
      operationId: "DeleteHat"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteHatRequest"
        required: true
      responses:
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
      security:
      - cognito-authorizer: []
    options:
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
  /participant:
    put:
      operationId: "EditParticipant"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditParticipantRequest"
        required: true
      responses:
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
        "409":
          description: "409 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestOrConflictResponse"
      security:
      - cognito-authorizer: []
    post:
      operationId: "AddParticipant"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddParticipantRequest"
        required: true
      responses:
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
        "409":
          description: "409 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestOrConflictResponse"
      security:
      - cognito-authorizer: []
    delete:
      operationId: "RemoveParticipant"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveParticipantRequest"
        required: true
      responses:
        "404":
          description: "404 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content: {}
        "409":
          description: "409 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestOrConflictResponse"
      security:
      - cognito-authorizer: []
    options:
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: "string"
            Access-Control-Allow-Methods:
              schema:
                type: "string"
            Access-Control-Allow-Headers:
              schema:
                type: "string"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
components:
  schemas:
    SendInvitationsRequest:
      required:
      - "hatId"
      - "organizerEmail"
      type: "object"
      properties:
        hatId:
          type: "string"
          description: "The unique identifier of the hat to validate"
          format: "uuid"
        organizerEmail:
          type: "string"
          description: "The email address of the organizer"
          format: "email"
      additionalProperties: false
    GetHatsResponse:
      required:
      - "Hats"
      type: "object"
      properties:
        Hats:
          type: "array"
          description: "List of hat metadata."
          items:
            $ref: "#/components/schemas/GetHatsResponseHatsItem"
      additionalProperties: false
    HatParticipantsItem:
      required:
      - "eligibleRecipients"
      - "invitationSent"
      - "person"
      - "pickedRecipient"
      type: "object"
      properties:
        pickedRecipient:
          type: "string"
          description: "The email of the person this participant will give a gift\
            \ to"
          format: "email"
        person:
          $ref: "#/components/schemas/HatOrganizer"
        invitationSent:
          type: "boolean"
          description: "Whether an invitation has been sent to this participant"
        eligibleRecipients:
          type: "array"
          description: "The list of potential recipients for this participant"
          items:
            type: "string"
      additionalProperties: false
    ValidateHatRequest:
      required:
      - "hatId"
      - "organizerEmail"
      type: "object"
      properties:
        hatId:
          type: "string"
          description: "The unique identifier of the hat to validate"
          format: "uuid"
        organizerEmail:
          type: "string"
          description: "The email address of the organizer"
          format: "email"
      additionalProperties: false
    HatOrganizer:
      required:
      - "email"
      - "name"
      type: "object"
      properties:
        name:
          minLength: 1
          type: "string"
          description: "The name of the person"
        email:
          minLength: 1
          type: "string"
          description: "The email address of the person"
          format: "email"
      additionalProperties: false
    EditHatRequest:
      required:
      - "additionalInformation"
      - "hatId"
      - "name"
      - "organizerEmail"
      - "priceRange"
      type: "object"
      properties:
        hatId:
          type: "string"
          description: "The unique identifier of the hat to edit"
          format: "uuid"
        organizerEmail:
          type: "string"
          description: "The email address of the organizer"
          format: "email"
        name:
          type: "string"
          description: "The updated name of the hat"
        additionalInformation:
          type: "string"
          description: "Additional information about the hat"
        priceRange:
          type: "string"
          description: "The price range for gifts"
      additionalProperties: false
    GetHatsResponseHatsItem:
      required:
      - "hatId"
      - "hatName"
      - "status"
      type: "object"
      properties:
        hatId:
          type: "string"
          description: "The unique identifier for the hat."
          format: "uuid"
        hatName:
          minLength: 1
          type: "string"
          description: "The display name of the hat."
        status:
          type: "string"
          description: "The current status of the gift exchange."
      additionalProperties: false
    EditParticipantRequest:
      required:
      - "eligibleRecipients"
      - "email"
      - "hatId"
      - "organizerEmail"
      type: "object"
      properties:
        organizerEmail:
          type: "string"
          description: "The email address of the organizer"
          format: "email"
        hatId:
          type: "string"
          description: "The unique identifier of the hat"
          format: "uuid"
        eligibleRecipients:
          minItems: 1
          type: "array"
          description: "The list of eligible recipient n ames"
          items:
            type: "string"
        email:
          type: "string"
          description: "The email of the participant"
          format: "email"
      additionalProperties: false
    AssignRecipientsRequest:
      required:
      - "hatId"
      - "organizerEmail"
      type: "object"
      properties:
        organizerEmail:
          type: "string"
          description: "The email address of the organizer"
          format: "email"
        hatId:
          type: "string"
          description: "The unique identifier of the hat"
          format: "uuid"
      additionalProperties: false
    ValidateHatResponse:
      required:
      - "errors"
      - "success"
      type: "object"
      properties:
        success:
          type: "boolean"
          description: "Indicates whether validation succeeded"
        errors:
          type: "array"
          description: "List of validation error messages"
          items:
            type: "string"
      additionalProperties: false
    BadRequestOrConflictResponse:
      required:
      - "message"
      type: "object"
      properties:
        message:
          minLength: 1
          type: "string"
          description: "The error message."
      additionalProperties: false
    DeleteHatRequest:
      required:
      - "hatId"
      - "organizerEmail"
      type: "object"
      properties:
        organizerEmail:
          type: "string"
          description: "The email address of the organizer"
          format: "email"
        hatId:
          type: "string"
          description: "The unique identifier of the hat to delete"
          format: "uuid"
      additionalProperties: false
    Empty:
      title: "Empty Schema"
      type: "object"
    CreateHatResponse:
      required:
      - "hatId"
      type: "object"
      properties:
        hatId:
          type: "string"
          description: "The unique identifier of the created hat"
          format: "uuid"
      additionalProperties: false
    RemoveParticipantRequest:
      required:
      - "email"
      - "hatId"
      - "organizerEmail"
      type: "object"
      properties:
        organizerEmail:
          type: "string"
          description: "The email address of the organizer"
          format: "email"
        hatId:
          type: "string"
          description: "The unique identifier of the hat"
          format: "uuid"
        email:
          type: "string"
          description: "The email of the participant to remove"
          format: "email"
      additionalProperties: false
    Participant:
      title: "Participant"
      required:
      - "EligibleRecipients"
      - "Person"
      - "PickedRecipient"
      type: "object"
      properties:
        PickedRecipient:
          type: "string"
        Person:
          type: "object"
          properties: {}
          additionalProperties: true
          description: "Person object structure goes here."
        EligibleRecipients:
          type: "array"
          items:
            type: "string"
      additionalProperties: false
    AddParticipantRequest:
      required:
      - "email"
      - "hatId"
      - "name"
      - "organizerEmail"
      type: "object"
      properties:
        organizerEmail:
          type: "string"
          description: "The email address of the organizer"
          format: "email"
        hatId:
          type: "string"
          description: "The unique identifier of the hat"
          format: "uuid"
        name:
          type: "string"
          description: "The name of the participant"
        email:
          type: "string"
          description: "The email address of the participant"
          format: "email"
      additionalProperties: false
    CloseHatRequest:
      required:
      - "hatId"
      - "organizerEmail"
      type: "object"
      properties:
        organizerEmail:
          type: "string"
          description: "The email address of the organizer"
          format: "email"
        hatId:
          type: "string"
          description: "The unique identifier of the hat to close"
          format: "uuid"
      additionalProperties: false
    CreateHatRequest:
      required:
      - "hatName"
      - "organizerEmail"
      - "organizerName"
      type: "object"
      properties:
        hatName:
          type: "string"
          description: "The name of the hat"
        organizerName:
          type: "string"
          description: "The name of the organizer"
        organizerEmail:
          type: "string"
          description: "The email address of the organizer"
          format: "email"
      additionalProperties: false
    Hat:
      required:
      - "additionalInformation"
      - "id"
      - "name"
      - "organizer"
      - "participants"
      - "priceRange"
      - "status"
      type: "object"
      properties:
        id:
          type: "string"
          description: "The unique identifier of the hat"
          format: "uuid"
        name:
          type: "string"
          description: "The name of the gift exchange"
        status:
          type: "string"
          description: "The current status of the gift exchange"
        additionalInformation:
          type: "string"
          description: "Additional details about the gift exchange"
        priceRange:
          type: "string"
          description: "The suggested price range for gifts"
        organizer:
          $ref: "#/components/schemas/HatOrganizer"
        participants:
          type: "array"
          description: "The list of participants in the gift exchange"
          items:
            $ref: "#/components/schemas/HatParticipantsItem"
      additionalProperties: false
  securitySchemes:
    cognito-authorizer:
      type: "apiKey"
      name: "Authorization"
      in: "header"
      x-amazon-apigateway-authtype: "cognito_user_pools"
x-amazon-apigateway-security-policy: "TLS_1_0"
x-amazon-apigateway-policy:
  Version: "2012-10-17"
  Statement:
  - Effect: "Allow"
    Principal:
      AWS: "*"
    Action: "execute-api:Invoke"
    Resource: "arn:aws:execute-api:us-east-1:182571449491:*/*/*"
    Condition:
      IpAddress:
        aws:SourceIp: "172.13.48.231"
